<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">

      <h4 class="mb-2">尋找餐廳：</h4>
      <form action="/search" method="GET" id="search-form">
        <div class="d-flex flex-row">
          <div class="input-group me-5">
            <input
              type="text"
              name="keyword"
              class="form-control"
              placeholder="輸入餐廳名稱、分類"
              aria-label="Restaurant Name..."
              value="{{searchTerm}}"
              aria-describedby="search-button"
            />
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i
                  class="fas fa-search"
                ></i></button></div>
          </div>

          <div class="input-group justify-content-end">
            <label for="order"></label>
            <select name="order" id="order" class="flex-fill">
              <option value="none"{{#if orderValue.none}}selected {{/if}}>排列方式</option>
              <option value="AtoZ"{{#if orderValue.AtoZ}}selected {{/if}}>依名稱(A-Z)</option>
              <option value="ZtoA" {{#if orderValue.ZtoA}}selected {{/if}}>依名稱(Z-A)</option>
              <option value="category" {{#if orderValue.category}}selected {{/if}}>依類別</option>
              <option value="location" {{#if orderValue.location}}selected {{/if}}>依地區</option>
              <option value="ratingDESC" {{#if orderValue.ratingDESC}}selected {{/if}}>依評分(高-低)</option>
              <option value="ratingASC" {{#if orderValue.ratingASC}}selected {{/if}}>依評分(低-高)</option>
            </select>
          </div>
        </div>
      </form>
<p class="mb-0">* 分類項目：中東料理、日本料理、義式餐廳、美式、酒吧、咖啡</p>

    </div>
  </div>
</div>

<div id="flash-message" class="text-center mt-3 ">{{message}}{{error}}</div>
{{#if restaurants}}
<div class="text-center mb-3 mt-3">{{message_onsearch}}</div>
{{/if}}

<div class="text-center mt-4">
  <form action="/restaurants/new" method="get" style="display: inline;"><button
      type="submit"
      class="btn btn-outline-secondary btn-sm"
    >新增餐廳</button></form></div>

{{#if restaurants}}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row row-cols-sm-3">
          {{#each restaurants as |restaurant|}}
            <div>
              <a href="/restaurants/{{restaurant.id}}" class="text-secondary">
                <div class="card mb-3">
                  <img
                    class="card-img-top"
                    src="{{restaurant.image}}"
                    alt="{{restaurant.name}}"
                  />
                  <div class="card-body p-3">
                    <h6 class="card-title mb-1">{{restaurant.name}}</h6>

                    <div class="restaurant-category mb-1">
                      <i class="fas fa-utensils pr-2"></i>
                      {{restaurant.category}}
                    </div>

                    <span
                      class="badge rounded-pill bg-danger font-weight-normal"
                    >
                      {{restaurant.rating}}
                      <i class="fas fa-star fa-xs"></i>
                    </span>

                  </div>
                </div>
              </a>
              <div class="text-end mb-2">
                <form
                  action="/restaurants/{{restaurant.id}}/edit"
                  style="display: inline;"
                ><button
                    type="submit"
                    class="btn btn-outline-secondary btn-sm"
                  >編輯</button></form>
                <form
                  action="/restaurants/{{restaurant.id}}"
                  method="get"
                  style="display: inline;"
                ><button
                    type="submit"
                    class="btn btn-outline-secondary btn-sm"
                  >詳細資料</button></form>

                <form
                  action="/restaurants/{{restaurant.id}}?_method=DELETE"
                  method="POST"
                  style="display: inline;"
                ><button
                    type="submit"
                    class="btn btn-outline-danger btn-sm"
                  >刪除</button>
                </form>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
 

  {{! 如果找不到餐廳資料跳出提示 }}
{{else}}
  <h3 class="text-center mt-5">查無相關資料，請重新輸入</h3>
{{/if}}

{{!-- 如果搜尋bar有關鍵字，則渲染特定資料的pagination --}}
  {{#if searchTerm}}
<div class="mx-auto text-center mb-5 mt-3" style="width: 400px;">
      <form action="/search" method="GET" style="display: inline;">
       <input type="hidden" name="keyword" value="{{searchTerm}}" />
        <input type="hidden" name="order" value="{{order}}" />
        <input type="hidden" name="page" value="{{prev}}" />
        <button type="submit" class="btn btn-secondary btn-sm">上一頁</button>
      </form>
      <form id="page-form" action="/search" method="GET" style="display: inline;">
       <input type="hidden" name="keyword" value="{{searchTerm}}" />
        <input type="hidden" name="order" value="{{order}}" />
      <input id="page-number" type="number" min="1" max="{{totalPage}}" name="page" value="{{page}}" style="width: 12%">
      <span > / {{totalPage}}</span>
      </form>
      <form action="/search" method="GET" style="display: inline;">
        <input type="hidden" name="keyword" value="{{searchTerm}}" />
        <input type="hidden" name="order" value="{{order}}" />
           <input type="hidden" name="page" value="{{next}}" />
        <button type="submit" class="btn btn-secondary btn-sm">下一頁</button>
      </form>
  </div>

{{!-- 如果搜尋bar沒有關鍵字，則渲染全部的頁碼 --}}
  {{else}}  
<div class="mx-auto text-center mb-5 mt-3" style="width: 400px;">
      <form action="/" method="GET" style="display: inline;">
        <input type="hidden" name="page" value="{{prev}}" />
        <button type="submit" class="btn btn-secondary btn-sm">上一頁</button>
      </form>
      <form id="page-form" action="/" method="GET" style="display: inline;">
      <input id="page-number" type="number" min="1" max="{{totalPage}}" name="page" value="{{page}}" style="width: 12%">
      <span > / {{totalPage}}</span>
      </form>
      <form action="/" method="GET" style="display: inline;">
        <input type="hidden" name="page" value="{{next}}" />
        <button type="submit" class="btn btn-secondary btn-sm">下一頁</button>
      </form>
  </div>
  {{/if}}

   <script src="javascripts/index.js"></script>